<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinFlo</title>
    <link rel="shortcut icon" href="./icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="frontend/static/css/style.css">
</head>
<body>
    <div id="loader">
        <h1>Invest Smarter, Not Harder.</h1>
        <h1>Your Guide to Smarter Fund Selection.</h1>
        <h1>Where Data Meets Strategy.</h1>
    </div>
    <div id="fixed-image">

    </div> 
    <div id="main">

        <div id="page1">
            <nav>
                <img src=""
                    alt="">
                <div id="nav-part2">
                    <h4><a href="#">About Us</a></h4>
                    <h4><a href="#">Blogs</a></h4>
                    <h4><a href="#">Contact Us</a></h4>
                    <h4><a href="#"><img src="googlee.jpg" alt="Google Logo" style="width: 20px; vertical-align: middle;">Sign In with Google</a></h4>
                </div>
                <h3>Menu</h3>
            </nav>
            <div id="center">
                <div id="left">
                    <h3>FinFlo: Smart Analysis for Smarter Investments.
                        </h3>
                </div>
                <div id="right">
                    <h1>Insights <br>
                        That <br>
                        Matter </h1>
                </div>
            </div>
            <div id="hero-shape">
                <div id="hero-1"></div>
                <div id="hero-2"></div>
                <div id="hero-3"></div>
            </div>
            <video autoplay loop muted src=""></video>
        </div>  
        <div id="page2">
            <div id="moving-text">
                <div class="con">
                    <h1>Invest Smarter, Not Harder</h1>
                    <div id="gola"></div>
                    <h1>Your Guide to Smarter Fund Selection</h1>
                    <div id="gola"></div>
                    <h1>Where Data Meets Strategy</h1>
                    <div id="gola"></div>
                </div>
                <div class="con">
                    <h1>Invest Smarter, Not Harder</h1>
                    <div id="gola"></div>
                    <h1>Your Guide to Smarter Fund Selection</h1>
                    <div id="gola"></div>
                    <h1>Where Data Meets Strategy</h1>
                    <div id="gola"></div>
                </div>
                <div class="con">
                    <h1>Invest Smarter, Not Harder</h1>
                    <div id="gola"></div>
                    <h1>Your Guide to Smarter Fund Selection</h1>
                    <div id="gola"></div>
                    <h1>Where Data Meets Strategy</h1>
                    <div id="gola"></div>
                </div>
            </div>
</body>
</html>